hr {
    width: 100%;
    height: 0.5px;
    margin-bottom: 50px;
    background-color: black;
}

.news_row {
    display: flex;
    margin-top: 50px;
}

.update_date {
    color: #fff;
}

.news_search {
    top: 2rem;
}

.preview-img {
    width: 100px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
  }
  
  .preview-img-small {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .writer-preview,
  .detail-preview {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 5px;
  }
  

@media screen and (max-width: 1020px) {
    .news_row {
        margin-top: 10px;
        flex-direction: column-reverse;
    }

    .news_search {
        top: 0.5rem;
    }
}