.featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    color: #07176C;
    letter-spacing: -.05rem;
  }

  .lead {
    font-weight: 400;
  }

  
  @media (min-width: 40em) {
  
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }