/* Footer Styles */

.footer {
  margin-top: 50px;
    color: #333;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  
  .about p {
    max-width: 400px;
  }
  
  .logo {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .socials a {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .facebook {
    color: #185ABD;
  }

  .instagram {
    color: #d62976;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    color: #000;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #FEA82F;
  }
  
  .contact-form input,
  .contact-form textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .contact-form textarea {
    height: 100px;
  }

  /* email_btn_icon */

  .email_btn {
    margin-top: 10px;
  }

.email_btn:link,
.email_btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.email_btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.email_btn:active {
 transform: translateY(-3px);
}

.email_btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.email_btn:hover::after {
 background-color: rgb(198, 164, 10);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

.footer-bottom {
  align-items: center;
  color: #fff;
  padding: 5px 15px;
  background-color: #77140F;
}
  
  /* Media Queries */
  
  @media screen and (max-width: 1000px) {
    .footer-content {
      flex-wrap: wrap;
    }
    
    .footer-section {
      flex-basis: 50%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer-section {
      flex-basis: 100%;
    }
  }
  